page-help {
    ion-content {
        background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
      }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    ion-label {
        white-space: normal;
        font-size: 14px;
    }
    .item-md {
        padding-left: 10px;
        padding-right: 10px;
    }
    .item-md .item-button {
        padding: 0;
    }
    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
        margin: 0;
    }
}
