<ion-header class="title-centered">
	<ion-navbar>
		<ion-title>Lensa ACC</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<div *ngIf="loading == true">
		<ion-card>
			<ghost-loading class="img square-xl isLoading">
				<img src="#" imageViewer/>
			</ghost-loading>
			<ion-card-content>
				<h2 class="card-title">{{idTitle.title}}</h2>
				<br>
				<br>
				<ghost-loading class="xl isLoading"></ghost-loading>

				<ghost-loading class="paragraph isLoading"></ghost-loading>
				<ghost-loading class="paragraph isLoading"></ghost-loading>
				<br>
				<ghost-loading class="paragraph isLoading"></ghost-loading>
				<ghost-loading class="paragraph isLoading"></ghost-loading>
				
			</ion-card-content>
			<ion-item>
				<button ion-button round color="light"><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon> </button>
				<button ion-button round color="light"><ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon> </button>
			</ion-item>
		</ion-card>
	</div>
	
	<div *ngIf="loading == false">
		<div  *ngFor="let itemBlog of detailBlog;">
			<ion-card>
					<img src="{{itemBlog.image_url}}" imageViewer/>
				<ion-card-content>
						<h2 class="card-title">
							{{itemBlog.title}}
						</h2>
						<p  style="color: #807d7d;font-size: 1.2rem;">{{itemBlog.created_at}}</p>
						<br>
						<div [innerHTML]="itemBlog.post_body"></div>
					
				</ion-card-content>
				<ion-item>
					<button ion-button round color="light"><ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon> </button>
					<button ion-button round color="light"><ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon> </button>
				</ion-item>
			</ion-card>
		</div>
	</div>

</ion-content>
